<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/temvio_icon"
        android:label="Temvio"
        android:theme="@style/Theme.AgenticScheduler">
        <meta-data
            android:name="dev.agenticscheduler.sync.BASE_URL"
            android:value="${d8SyncBaseUrl}" />
        <meta-data
            android:name="dev.agenticscheduler.sync.ACCOUNT_ID"
            android:value="${d8SyncAccountId}" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|fontScale|density"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
